<%- include('partials/header')%>

    <section class="details">
        <div class="details-flex">
            <div class="details-item-img">
                <img src="/<%= product.image%>">
            </div>
            <div class="details-item-info">
                <div>
                    <h3>
                        <%=product.name%>
                    </h3>
                </div>
                <div>
                    <h3>R$ <%=product.price%>
                    </h3>
                </div>
                <div>
                    <h3>Tamanho: <%=product.size%>
                    </h3>
                </div>
                <div>
                    <h3>Categoria: <%=product.category%>
                    </h3>
                </div>
                <form action="/addcart" method="POST">
                    <input type="hidden" name="name" value="<%= product.name%>">
                    <input type="hidden" name="price" value="<%= product.price%>">
                    <input type="hidden" name="category" value="<%= product.category%>">
                    <input type="hidden" name="image" value="<%= product.image%>">
                    <input type="hidden" name="size" value="<%= product.size%>">
                    <input type="hidden" name="productId" value="<%= product._id%>">
                    <input type="hidden" name="redirectTo" value="/">
                    <button type="submit">Adicionar ao Carrinho</button>
                </form>
            </div>
        </div>
    </section>
    <%-include('partials/footer')%>